

.pagina-Capitador {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #222222;
    height: 100vh ;
    width: 100%;

    .cabecalho {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 30px 30px;

        img{
            width: 200px;
        }

        .botoes{
           
            button {
                width: 100px;
                height: 40px;
                border-radius: 50px;
                border: 2px solid transparent;
                font-family: 'poppins';
                cursor: pointer;
                transition: 0.3s;
                outline: none;
                margin-bottom: 10px;
            }
    
            button:hover {
                cursor: pointer;
                background-color: #222;
                color: white;
                border: 2px solid white;
                transform: scale(1.04);
            }
    
            button:active {
                cursor: pointer;
                background-color:#000;
                color: white;
                border: 2px solid white;
                transform: scale(1);
            }
        }
    }

  .section{
    width: 63%;
    display: flex;
    margin-bottom: 20px;
    align-self: center;

    .texto{
        display: flex;
        flex-direction: column;
        gap: 20px;

        h1{
            display: flex;
            flex-direction: row;
            color: #fff;
            font: 600 36px poppins;
            nav{
                color: #EF7C1D;
            }
        }
      

        p{
            color: #fff;
            font: 400 16px poppins;
            width: 320px;
        }
        
    }
  }

  .table{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .tabela{
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        min-width: 400px;
        border-radius: 5px 5px 0 0 ;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

        thead tr {
            background-color: #EF7C1D;
            color: #fff;
            text-align: center;
            font: 300 16px poppins;
           
        }
        th{
            width: 200px;
            padding: 10px 0px;
        }

        td{
            padding: 15px 15px;
            color: #f3f3f3;
            text-align: center;

        }

        tbody tr {
            border-bottom: 1px solid #dddd;
        }

        tbody tr:last-of-type {
            border-bottom: 2px solid #EF7C1D;
        }

        tbody tr.active-row{
            font-weight: bold;
            color: #009879;
        }

    }

  }

  .section2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 81.5%;
    .card{
        background-color: aquamarine;
        padding: 10px 20px;
        width: 325px;
        border-radius: 10px;
        margin: 20px 0 50px;
        
    
        h1{
            font: 500 18px poppins;
    
        }
      }

  }

  .section3{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 81.5%;
    margin-bottom: 50px;

    input {
        outline: none;
        border: none;

        width: 250px;
        height: 50px;
        border-radius: 50px;
        padding-left: 20px;
        padding-right: 80px;
        background-color: transparent;
        border: 2px solid white;
        color: white;
    }

    button {
        position: absolute;
        height: 50px;
        border-radius: 50px;
        border: none;
        outline: none;
        padding: 0 20px;

        cursor: pointer;
    }

  }

}